<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="25">
<mat-toolbar color="primary">Login</mat-toolbar>
<form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="loginForm" class="login-form">
            <mat-form-field >
              <input matInput placeholder="Username" formControlName="username">
            </mat-form-field>
        
            <mat-form-field >
              <input matInput placeholder="Password" formControlName="password">
            </mat-form-field>
  
        <button mat-raised-button type="submit"  (click)="onSubmit()">Login</button>
        <button mat-raised-button type="submit" color="success" (click)="signInWithGoogle()">Gmail</button>
        <button mat-raised-button type="submit" color="Accent" (click)="signInWithFB()">Facebook</button>
      </form>
       
    </mat-card>
</div>